<h2><%= l :tracks_setup %></h2>

<div id="settings">
  <div class="box tabular">
      <%= labelled_form_for :user, User.current, :url => tracks_setting_path(User.current),
                         :method => :put, :lang => current_language,
                         :html => {:class => 'tabular'} do |f| %>

         <p><%= f.text_field :tracks_url %></p>
         <p><%= f.text_field :tracks_user %></p>
         <p><%= f.text_field :tracks_time_format %></p>
         <p><%= f.check_box :tracks_time_sync %></p>
         <p><%= f.password_field :tracks_token %></p>
         <p><%= f.submit l(:save) %></p>
       <% end %>
  </div>
</div>
